<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Ludiflex</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header>Welcome</header>
            <p>We are happy to have you back! 😊</p>
        </div>
        <div class="social-sign-in">
            <button class="input-google" (click)="login()">
                 <img src="https://cdn.iconscout.com/icon/free/png-256/free-google-1772223-1507807.png" alt="">
                 <p>Sign In with Google</p>
            </button>
        </div>
        <div class="sign-up">
            <p>Don't have account <a href="https://accounts.google.com/lifecycle/steps/signup/name?continue=https://mail.google.com/mail/&dsh=S-2063491502:1707510583195150&ec=asw-gmail-globalnav-create&flowEntry=SignUp&flowName=GlifWebSignIn&service=mail&theme=glif&TL=AHNYTIQqG0yKej3iAa4oiYtyDas0Ty1Qn9N5vFF6dzAsj32R2SE6MLQ2m-U-DJpG">Sign up</a></p>
        </div>
    </div>
</body>
</html>