<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">S
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Ludiflex</title>
    <link rel="stylesheet" href="main.component.css">
    <!-- ROBOTO FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <!-- POPPINS FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
</head>
<app-map-screen [checkedCategories]="currentCheckedCategories"></app-map-screen>
<div>
    <button type="button" (click)="logOut()">Log Out</button>
    <button type="button" style="right:280px" (click)="restart()">Restart</button>
</div>

<body *ngIf="!map">
    <div class="input-box">
        <div class="login-box">
            <div class="login-header" *ngIf="user">
                <header>{{user.email}} Select your favorite Hobbies :</header>
            </div>
            <app-categories (categoriesEvent)="updateCheckedCategories($event)"></app-categories>
            <input (click)="mapIsReady()" type="submit" class="input-submit" value="Let's go">
        </div>
        
    </div>
</body>
</html>
