<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" [ngStyle]="{'display':sidebarDisplay}" id="mySidebar">
  <button (click)="closeSidebar()" class="w3-bar-item w3-large">Close &times;</button>
  <button class="close-button" onclick="toggleInfo()">X</button>
  <h1>Nombre del lugar</h1>
  <p class="info-title">Información del lugar</p>
  <p id="descripcion">Descripción del lugar.</p>
  <p id="valor">Valor: $100</p>
  
  <!-- Espacio para el slider de imágenes -->
      
      
      
      <!-- Puedes agregar más imágenes aquí -->
   <!-- Botón para pagar -->
  <button onclick="pagar()">Pagar</button>
</div>



